<template>
  <div id="file-zone">
    <div id="file">
      <b-card-group deck>
        <b-card header>
          <p class="card-text mt-2">
            <b-container
              class="d-inline"
              id="container"
              v-bind:key="word.id"
              v-for="word in $store.state.words"
            >
              <p
                v-bind:style="{
                  'font-weight': word.bold == true ? 'bold' : 'normal',
                  'text-decoration':
                    word.underline == true ? 'underline' : 'none',
                  'font-style': word.italic == true ? 'italic' : 'normal'
                }"
                :id="`popover-target-${word.id}`"
                title="Popover Title"
                class="text-justify d-inline"
              >{{ word.text }}</p>

              <b-popover :target="`popover-target-${word.id}`" triggers="hover" placement="top">
                <template v-slot:title>Style your word</template>
                Choose style for your
                <b>word!</b>
                <WordZone v-bind:word="word" />
                <!-- <b-button-group @click="syn(word)">
                  <b-button @click="bold(word)">
                    <b>Bold</b>
                  </b-button>
                  <b-button @click="italic(word)">
                    <i>Italic</i>
                  </b-button>
                  <b-button @click="underline(word)">
                    <u>Underline</u>
                  </b-button>
                  <b-form-select
                    v-model="$store.state.words[word.id].text"
                    :options="$store.state.synonyms"
                    size="sm"
                    class="mt-3"
                  ></b-form-select>
                </b-button-group>-->
              </b-popover>
            </b-container>
          </p>
          <b-form inline v-on:submit.prevent="addWord">
            <input
              type="text"
              v-model="$store.state.newWord.text"
              class="mb-2 mr-sm-2 mb-sm-0 mt-2 ml-5"
              placeholder="Write a new Word"
            />
            <div class="form-group">
              <button class="btn btn-success mt-2">Add Word</button>
            </div>
          </b-form>
          <b-list-group v-if="$store.state.words.length > 0">
            <b-list-group-item
              class="d-flex justify-content-between align-items-center"
              v-bind:key="word.id"
              v-for="word in $store.state.words"
              v-bind:style="{
                'font-weight': word.bold == true ? 'bold' : 'normal',
                'text-decoration':
                  word.underline == true ? 'underline' : 'none',
                'font-style': word.italic == true ? 'italic' : 'normal'
              }"
              href="#"
            >
              {{ word.text }}
              <WordZone v-bind:word="word" />
            </b-list-group-item>
          </b-list-group>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import WordZone from "./WordZone";

export default {
  name: "FileZone",
  components: {
    WordZone
  },
  methods: {
    addWord() {
      this.$store.dispatch("addNewWord");
    },
    fullText() {
      var texto = [];
      this.$store.state.words.filter((value, index) => {
        texto = texto.concat(value.text);
      });
      return texto.join(" ");
    },
    bold(word) {
      this.$store.dispatch("bold", { word });
    },
    italic(word) {
      this.$store.dispatch("italic", { word });
    },
    underline(word) {
      this.$store.dispatch("underline", { word });
    }
    // syn(word) {
    //   this.$store.dispatch("syn", { word });
    // }
  }
};
</script>
<style scoped>
#file-zone {
  background-color: #f1f0f0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4dede;
}
</style>
