<template>
  <b-button-group @click="syn(word)">
    <b-button @click="bold(word)">
      <b>Bold</b>
    </b-button>
    <b-button @click="italic(word)">
      <i>Italic</i>
    </b-button>
    <b-button @click="underline(word)">
      <u>Underline</u>
    </b-button>
    <b-form-select v-model="word.text" :options="word.synonyms" size="sm" class="mt-3"></b-form-select>
  </b-button-group>
</template>

<script>
export default {
  name: "WordZone",
  props: ["word"],
  beforeCreate: {
    syn(word) {
      this.$store.dispatch("syn", { word });
    }
  },
  methods: {
    bold(word) {
      this.$store.dispatch("bold", { word });
    },
    italic(word) {
      this.$store.dispatch("italic", { word });
    },
    underline(word) {
      this.$store.dispatch("underline", { word });
    },
    syn(word) {
      this.$store.dispatch("syn", { word });
    }
  }
};
</script>
