<template>
  <div id="app">
    <Header />
    <main>
      <!-- <ControlPanel /> -->
      <FileZone />
    </main>
  </div>
</template>

<script>
// import ControlPanel from './components/ControlPanel'
import FileZone from "./components/FileZone";
import Header from "./components/Header";

export default {
  name: "App",
  components: {
    Header,
    // ControlPanel,
    FileZone
  }
};
</script>

<style>
#app {
  display: flex;
  height: 100%;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
</style>
